@charset "UTF-8";

/*재원 register.css*/

#toLogin a:link{
	text-decoration:underline;
	color:gray;
}
#toLogin a:visited{
	text-decoration:underline;
	color:green;
}
#toLogin a:hover{
	text-decoration:underline;
	color:blue;
}
#toLogin a:active{
	text-decoration:underline;
	color:red;
}

.textMessageBox input:focus{
	outline:none;
}