<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.dogcutie.shop.mapper.product.ProductBuyMapper">
	<select id="selectAllProd" resultType="com.dogcutie.shop.vo.Prod_Tbl">
		select * from prod_tbl;
	</select>
	<select id="getProduct" resultType="com.dogcutie.shop.vo.Prod_Tbl">
		select * from prod_tbl where p_no = #{p_no}
	</select>
	<select id="selectProd" resultType="com.dogcutie.shop.vo.Prod_Tbl">
		select * from prod_tbl where amount != 0
						<if test="size != null and size != ''">and size like '%${size}%' </if>
						<if test="season != null and season != '' ">and season like '%${season}%' </if>
						<if test="color != null and color != '' ">and color like '%${color}%' </if>
						<if test="sorting != null and sorting != ''">order by ${sorting}</if>
							
	</select>
</mapper>