<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dogcutie.shop.mapper.product.RegisterProductMapper">

	<insert id="insertProduct">
		insert into
		prod_tbl(s_id,p_name,size,season,color,c_name,amount,quantity,discribe,video,img1,img2,img3)
		values(#{s_id},#{p_name},#{size},#{season},#{color},#{c_name},#{amount},#{quantity},#{discribe},#{video},
		<foreach collection="imgList" item="item" separator="," close=")" >
		"${item}"  
		</foreach>
	</insert>


</mapper>