<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dogcutie.shop.mapper.member.AnnclistMapper">

<select id="selectall" resultType="com.dogcutie.shop.vo.Annc_Tbl">
	select * from annc_tbl
</select>

<insert id="insetAnnclist">
	insert into annc_tbl (title,content) values (#{title},#{content})
</insert>
	
</mapper>